/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
} */




/* ==================== */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--color-gray);
}


textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, ul, li, a {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* definig roo variable */

:root {
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-35: 35px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /* ----------------- */
  --color-primary: #4ead6c;
  --color-bg-card-white: #fefffe;
  /* ------------------- */
  --color-secondary: #CA2790;

  --color-dark: rgb(27, 27, 27);
  --color-white: #fff;
  --color-gray: rgb(240, 238, 238);
  --border-primary-1px: 1px solid var(--color-primary);
  --border-primary-2px: 2px solid var(--color-primary);
  --border-primary-3px: 3px solid var(--color-primary);
  --border-gray-1px: 1px solid var(--color-gray);
  --border-gray-2px: 2px solid var(--color-gray);
  --border-gray-3px: 3px solid var(--color-gray);
  --border-radius-10: 10px;
  --border-radius-5: 5px;
  --border-radius-50: 50%;
  --border-radius-15: 15px;
  --border-radius-20: 20px;






  /*  */


  /*  */

}







/*  */

.custom-primary-color {
  color: var(--color-primary);
}

.custom-nav-dark-color {
  background-color: #2e2f2f;
  height: 100vh;
}



.cp {
  cursor: pointer;
}

.h100vh {
  height: 100vh;
  overflow: hidden;
}


/* Menubar------------------- */
.menuIcon {
  font-size: 26px;
  cursor: pointer;
  color: #878b93;
}

.menuIcon:hover {
  color: white;
}

/* ----------------------------- */


/* Chat---------------- */

.chatBg {
  background-image: linear-gradient(rgba(15, 23, 54, 0.7), rgba(4, 9, 30, 0.7)),
    url("../../public/chatbg.jpg");

  /* width: 100%; */
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

/* ---------------- */





.custom-bg-primary {
  background-color: var(--color-primary);
}

.custom-bg-card-white {
  background-color: var(--color-bg-card-white);
}








/*  */

.custom-fs-11 {
  font-size: var(--fs-11);
}

.custom-fs-12 {
  font-size: var(--fs-12);
}

.custom-fs-14 {
  font-size: var(--fs-14);
}

.custom-fs-16 {
  font-size: var(--fs-16);
}

.custom-fs-18 {
  font-size: var(--fs-18);
}

.custom-fs-20 {
  font-size: var(--fs-20);
}


.custom-fs-22 {
  font-size: var(--fs-22);
}

.custom-fs-24 {
  font-size: var(--fs-24);
}

.custom-fs-26 {
  font-size: var(--fs-26);
}


.custom-fs-28 {
  font-size: var(--fs-28);
}

.custom-fs-30 {
  font-size: var(--fs-30);
}

.custom-fs-35 {
  font-size: var(--fs-35);
}

.custom-fw-400 {
  font-weight: var(--fw-400);
}

.custom-fw-500 {
  font-weight: var(--fw-500);
}

.custom-fw-600 {
  font-weight: var(--fw-600);
}

.custom-fw-700 {
  font-weight: var(--fw-700);
}

.custom-fw-800 {
  font-weight: var(--fw-800);
}

.custom-text-primary {
  color: var(--color-primary);
}

.custom-text-gray {
  color: var(--color-gray);
}

.custom-text-white {
  color: var(--color-white);
}

.custom-text-secondary {
  color: var(--color-secondary);
}


.custom-bg-secondary {
  background-color: var(--color-secondary);
}

.custom-bg-white {
  background-color: var(--color-white);
}

.custom-text-dark {
  color: var(--color-dark);
}

.custom-bg-dark {
  background-color: var(--color-dark);
}

.custom-bg-primary {
  background-color: var(--color-primary);
}

.custom-bg-gray {
  background-color: var(--color-gray);
}

.custom-border-primary-1px {
  border: var(--border-primary-1px);
}

.custom-border-primary-2px {
  border: var(--border-primary-2px);
}

.custom-border-primary-3px {
  border: var(--border-primary-3px);
}

.custom-border-radius-5 {
  border-radius: var(--border-radius-5);
}

.custom-border-radius-10 {
  border-radius: var(--border-radius-10);
}

.custom-border-radius-15 {
  border-radius: var(--border-radius-15);
}

.custom-border-radius-20 {
  border-radius: var(--border-radius-20);
}

.custom-border-radius-50-per {
  border-radius: var(--border-radius-50);
}

.w-15 {
  width: 15%;
}

.hover-on-secondary:hover {
  background-color: var(--color-white) !important;
  color: var(--color-dark) !important;
}

.hover-on-white:hover {
  background-color: var(--color-secondary) !important;
  color: var(--color-white) !important;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}













::selection {
  background-color: #000000;
  color: white;
}

input[type="checkbox"] {
  accent-color: black;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bodyWrapper {
  flex: 1;
}


.cp {
  cursor: pointer;
}


/* scrolbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2f2f;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #204863;
}





.primaryTxtColor{
  color: #495057;
}